@keyframes new-note__opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.new-note {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0005;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: new-note__opacity 0.5s;
}

.new-note__form {
    background-color: #fff;
    width: 80%;
    padding: 1em;
    border-radius: 1em;
}

.new-note__form__header {
    border: 0;
    border-bottom: 1px solid #444;
    background-color: #0000;
    width: 100%;
    font-size: 1.4em;
    padding-bottom: 0.5em;
    word-break: break-all;
}

.new-note__form__text {
    width: 100%;
    min-height: 2.6em;
    max-height: 40vh;
    margin: 1em 0;
    border: 0;
    font-size: 1.1em;

    text-overflow: clip;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
    overflow-y: scroll;
}

.new-note__form__text::-webkit-scrollbar {
    width: 0.5em;
}

.new-note__form__text::-webkit-scrollbar-thumb {
    background-color: #0005;
}  

.new-note__new-color-select {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.new-note__new-color {
    width: 2em;
    height: 2em;
    border: 1px solid #000;
    border-radius: 15%;
}

.new-color_active {
    background-image: url('../images/check.svg');
    background-size: 100% 100%;
}

.new-note__control {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.new-note__control-btn {
    width: 40%;
    padding: 0.8em 0;
    border: 0;
    font-weight: 600;
    background-color: #0002;
}

@media screen and (min-width: 550px) and (max-width: 720px) {
    .new-note__form {
        width: 65%;
    }
}

@media screen and (min-width: 720px) and (max-width: 1400px) {
    .new-note__form {
        width: 50%;
    }

    .new-note__new-color-select {
        width: min(100%, 400px);
    }

    .new-note__control-btn {
        width: min(40%, 250px);
        padding: 1.1em 0;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1900px) {
    .new-note__form {
        width: 35%;
    }

    .new-note__new-color-select {
        width: min(100%, 400px);
    }

    .new-note__control-btn {
        width: min(40%, 250px);
        padding: 1.1em 0;
    }
}

@media screen and (min-width: 1900px) {
    .new-note__form {
        width: 600px;
    }

    .new-note__new-color-select {
        width: 400px;
    }

    .new-note__control-btn {
        width: 250px;
        padding: 1.1em 0;
    }
}