main {
    padding: 60px 0 2em;

    display: flex;
    flex-direction: row;
}

main > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    width: 100%;
}

.note {
    width: min(85%, 400px);
    border-radius: 0.5em;
    margin-top: 2em;
    padding: 1em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #cdcdcd;
    transition: background-color 0.5s;
}

.note_empty {
    color: #9d9b9b;
    margin-top: 2em;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

.note__header {
    border-bottom: 1px solid #444;
    margin: 0;
    padding-bottom: 0.5em;
    width: 90%;
    word-break: break-all;
}

.note__header_empty {
    border-bottom: 0;
}

.note__body {
    text-align: left;
    width: 90%;
    margin-top: 0.5em;
}

@media screen and (min-width: 800px) {
    main {
        padding: 60px 3em 2em;
    }

    main > ul {
        width: 50%;
    }
    
    .note {
        width: min(90%, 400px);
    }
}

@media screen and (min-width: 1200px) {
    main > ul {
        width: 33%;
    }
}

@media screen and (min-width: 1700px) {
    main > ul {
        width: 25%;
    }
}

@media screen and (min-width: 1900px) {
    body {
        display: flex;
        justify-content: center;
    }

    main {
        width: 1400px;
    }

    main > ul {
        width: 33%;
    }
}